spring:
  datasource:
    url: jdbc:postgresql://postgres.default.svc.cluster.local:5432/userdb
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8081
